asgiref==3.8.1
Babel==2.15.0
beautifulsoup4==4.12.3
black==24.8.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
crispy-bootstrap4==2024.1
Django==5.0.8
django-admin-datta==1.0.10
django-crispy-forms==2.3
django-money==3.5.3
django-resized==1.0.2
frozendict==2.4.4
greenlet==3.0.3
html5lib==1.1
idna==3.7
isort==5.13.2
lxml==5.2.2
msgpack==1.0.8
multitasking==0.0.11
mypy-extensions==1.0.0
neovim==0.3.1
node==1.2.2
numpy==2.0.1
odict==1.9.0
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
peewee==3.17.6
pillow==10.4.0
platformdirs==4.2.2
plumber==1.7
py-moneyed==3.0
pynvim==0.5.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
setuptools==72.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
yfinance==0.2.41
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==7.0.1
zope.lifecycleevent==5.0
zope.proxy==5.3
