{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block breadcrumbs %}
    Breadcrumbs go here
{% endblock breadcrumbs %}
{% block content %}
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card daily-sales">
                <div class="card-header">
                    <h5>Purchase successfull</h5>
                </div>
                <div class="card-block">
                    <div class="col-md-6">
                        <p>What would you like to do next?</p>
                        <a class="btn btn-primary" href="{% url 'buy' %}" role="button">Make another Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
