{% extends "layouts/base.html" %}
{% block breadcrumbs %}
    Breadcrumbs go here
{% endblock breadcrumbs %}
{% block content %}
    <!-- [ Main Content ] start -->
    <div class="row">
        <!--[ daily sales section ] start-->
        {% for port in portfolios %}
            <div class="col-md-12 col-xl-12">
                <div class="card daily-sales">
                    <div class="card-header">
                        <h5>{{ port }}</h5>
                    </div>
                    <div class="card-block">
                        {% for depot in depots %}
                            {% if port == depot.fk_portfolio %}
                                <h6>{{ depot.name }} - {{ depot.fk_institute }}</h6>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <small>WKN</small>
                                                </th>
                                                <th>
                                                    <small>ISIN</small>
                                                </th>
                                                <th>
                                                    <small>Security</small>
                                                </th>
                                                <th>
                                                    <small>Quantity</small>
                                                </th>
                                                <th>
                                                    <small>Balance</small>
                                                </th>
                                                <th>
                                                    <small>Perf. absolute</small>
                                                </th>
                                                <th>
                                                    <small>Perf. absolute annual</small>
                                                </th>
                                                <th>
                                                    <small>Perf. YTD</small>
                                                </th>
                                                <th>
                                                    <small>Actions</small>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for asset in assets %}
                                                {% if asset.fk_depot == depot %}
                                                    <tr>
                                                        <td>{{ asset.fk_security.wkn }}</td>
                                                        <td>{{ asset.fk_security.isin }}</td>
                                                        <td>{{ asset.fk_security.name }}</td>
                                                        <td>{{ asset.batch_positions_sum }}</td>
                                                        <td>123 €</td>
                                                        <td>0,0%</td>
                                                        <td>0,0%</td>
                                                        <td>0,0%</td>
                                                        <td>Sell</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
