{% extends "layouts/base.html" %}
{% load static %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block content %}
  <!-- [ Main Content ] start -->
  <div class="row">
    <!--[Ticker ] start-->
    {% for sec in securities %}
      <div class="col-md-6 col-xl-3">
        <div class="card daily-sales">
          <div class="card-block">
            <h6 class="mb-4">{{ sec.name }}</h6>
            <div class="row d-flex align-items-center">
              <div class="col-8">
                <h5 class="f-w-300 d-flex align-items-center m-b-0">
                  <i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>{{ sec.price|floatformat:2 }} €
                </h5>
              </div>
              <div class="col-4 text-right">
                <p class="m-b-0">+x,xx%</p>
              </div>
            </div>
            <div class="progress m-t-30" style="height: 7px;">
              <div class="progress-bar progress-c-theme"
                   role="progressbar"
                   style="width: 50%"
                   aria-valuenow="50"
                   aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- [ Ticker] end -->
    <!--[ Recent Users ] start-->
    <div class="col-xl-8 col-md-6">
      <div class="card Recent-Users">
        <div class="card-header">
          <h5>Portfolio Summaries</h5>
        </div>
        <div class="card-block px-0 py-3">
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                {% for port in portfolios %}
                  <tr class="unread">
                    <td style="width: 1%;">
                      <img class="rounded-circle"
                           style="width:50px"
                           src="{{ port.fk_owner.picture.url }}"
                           alt="pic"
                           width="50"
                           height="50" />
                    </td>
                    <td>
                      <h6 class="mb-1">{{ port.fk_owner }}</h6>
                      <p class="m-0">…</p>
                    </td>
                    <td>
                      <h6>
                        <p class="text-muted">Perf</p>
                        <i class="feather icon-trending-up text-c-green"></i> <span class="text-c-green">+5%</span>
                      </h6>
                    </td>
                    <td>
                      <h6>
                        <p class="text-muted">Portfolio value:</p>
                        <i class="feather icon-trending-down text-c-red"></i> {{ port.balance|floatformat:"2g" }} €
                      </h6>
                    </td>
                    <td>
                      <a href="{% url 'portfolio' port.id %}"
                         class="label theme-bg text-white f-12">Details</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}
